
*.xml
*.lock
*.bin
projekt/.gradle/7.1/executionHistory/executionHistory.bin
projekt/.gradle/7.1/executionHistory/executionHistory.lock
projekt/.gradle/7.1/fileHashes/fileHashes.bin
projekt/.gradle/7.1/fileHashes/fileHashes.lock
projekt/.gradle/buildOutputCleanup/buildOutputCleanup.lock
projekt/.gradle/buildOutputCleanup/outputFiles.bin
projekt/.idea/misc.xml

\.gradle
\.idea/
\.project
\.classpath
\.settings


gradle/
target/
build/
out/

*.iml
*.class
*.cache
*.class


gradle/
gradlew
gradlew.bat

/*/.gradle
*/*/.idea
*/.idea
*.bin
